nav {
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline;
    padding: 12px;
}
nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.38s;
}
nav ul li a:hover {
    color: #007BFF;
}